@media (max-width: 1239px) {
    .head-menu .flex-menu .right-side .other-links-wr {
        margin-right: 10px;
    }
    .head-menu .flex-menu .left-side .logo-wr {
        margin-right: 10px;
    }

    .head-menu .flex-menu .mid-side .menu-list .first-itm {
        padding: 0 5px;
    }
    .head-menu .flex-menu .left-side .call {
        padding: 3px 7px;
    }
    .head-menu.fixed-menu .flex-menu .mid-side input {
        width: 315px;
    }
    .head-menu.fixed-menu .flex-menu .left-side .tel-number {
        color: #0D0D0D;
    }
    .head-menu .flex-menu .mid-side .menu-list .first-itm a {
        font-size: 11px;
    }
    .regions .flex-pick-region .right-side .form-pick-region{
        width: 147px;
    }
    .regions .flex-pick-region .pick-text{
        font-size: 12px;
    }
    .regions .flex-pick-region{
        padding-right: 28px;
    }
    .regions .flex-pick-region .right-side .form-pick-region .dropdown-region .other-regions{
        font-size: 12px;
    }
    .sec-regions .flex-flags li{
        width: 20%;
    }
}

@media (max-width: 991px) {
    .head-menu .flex-menu .left-side .logo-wr {
        margin-right: auto;
    }
    .head-menu.fixed-menu .flex-menu .left-side .tel-number {
        display: block;
    }
    .head-menu.fixed-menu .flex-menu {
        flex-wrap: wrap;
    }
    .head-menu.fixed-menu .flex-menu .left-side {
        width: 100%;
    }
    .head-menu.fixed-menu .flex-menu .left-side {
        padding-top: 10px;
    }
    .head-menu.fixed-menu .flex-menu .mid-side {
        width: auto;
        margin-right: auto;
    }
    .head-menu.fixed-menu .flex-menu .right-side {
        width: 100%;
    }
    .head-menu.fixed-menu .flex-menu .mid-side .menu-list .first-itm a {
        color: #0D0D0D;
    }
    footer .top-side-footer .left-side {
        //flex-wrap: wrap;
    }
    footer .top-side-footer .for-border-r .subscribe-text {
        margin-right: 10px;
    }
    footer .top-side-footer .soc-links {
        padding-right: 0;
    }
    footer .top-side-footer .left-side .call {
        margin-right: 0;
    }
    footer .top-side-footer .left-side .call a {
        font-size: 12px;
        padding: 0 5px;
    }
    footer .top-side-footer .soc-links a {
        padding: 0 3px;
    }
    .sec-regions .flex-flags li{
        width: 25%;
    }
     .sec-regions {
        padding-top: 93px;
    }
    .alerts.scrolled-alerts {
        top: 100px;
    }
    .alerts{
        top: 93px;
    }
}

@media (max-width: 767px) {
    .head-menu.fixed-menu .flex-menu .left-side .tel-number {
        display: none;
    }
    .head-menu.fixed-menu .flex-menu .left-side .call {
        display: none;
    }
    .head-menu.fixed-menu .flex-menu .mid-side input {
        width: 168px;
    }
    .head-menu.fixed-menu .flex-menu .mid-side {
        margin-right: 0;
    }
    .head-menu.fixed-menu .flex-menu .left-side {
        padding-top: 0;
    }
    .head-menu .flex-menu .left-side .tel-number {
        display: none;
    }
    footer .top-side-footer .for-border-r .subscribe-text {
        margin-bottom: 10px;
    }
    footer .top-side-footer .left-side {
        display: flex;
        flex-wrap: wrap;
    }
    footer .top-side-footer .left-side .email {
        width: 100%;
    }
    footer .top-side-footer .for-border-r {
        width: 100%;
    }
    footer .top-side-footer .left-side .call {
        margin-right: auto;
        transform: translateX(-5px);

    }
    footer .bot-side-footer p {
        padding-left: 0;
    }
    .regions .flex-pick-region{
        display: block;
        padding-right: 0;
    }
    .regions .flex-pick-region .pick-text{
        padding-right: 20px;
        margin-bottom: 12px;
    }
    .regions .flex-pick-region .close-region{
        top: 0;
        transform: none;
    }
    .regions .flex-pick-region .right-side .form-pick-region{
        width: 160px;
        margin-right: 19px;
    }
    .fixed-menu {
        .regions {
            margin-bottom: 5px;
        }
    }
    .cookies-wrapp .cookies-contant .m-w-cookes{
        display: block;
        padding: 12px 0;
    }
    .close-cookie.close-x{
        top: 18px;
        transform: none;
    }
    .cookies-wrapp .cookies-contant .m-w-cookes .policy{
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 36px;
    }
    .notifications-wrapp{
        position: static;
    }
    .notifications-wrapp .dropdown-notifications{
        width: 280px;
        right: 15px;
    }
    .notifications-wrapp .dropdown-notifications:before{
        display: none;
    }
    .notifications-wrapp .dropdown-notifications .head-notif{
        display: block;
    }
    .notifications-wrapp .dropdown-notifications .head-notif p{
        margin-bottom: 10px;
    }
    .notifications-wrapp .dropdown-notifications .head-notif ul li{
        &:first-child{
            padding-left: 0;
        }
    }
    .sec-regions .flex-flags li{
        width: 50%;
    }
    .sec-regions h1{
        font-size: 18px;
    margin-bottom: 30px;
    }
    .sec-regions .flex-flags{
        margin-bottom: 42px;
    }
    .alerts .relative-wrapp{
        width: 280px;
    }
    .alerts.scrolled-alerts {
        top: 43px;
    }
    
}
