.sec-lvl-4 {
    padding-top: 65px;
    margin-bottom: 100px;
}

.sec-lvl-5 {
    margin-bottom: 45px;
}

.sec-lvl-6 {
    margin-bottom: 30px;
}

footer .top-side-footer .for-border-r .subscribe-text {
    cursor: pointer;
    padding-left: 22px;
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-family: OpenSansRegular;
    white-space: nowrap;
    text-decoration: underline;
    margin-right: 44px;
}

footer .top-side-footer {
    .soc-links {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        a {
            display: block;
            padding: 0 4px;

        }
    }
}

footer .top-side-footer .left-side .call {
    margin-right: 30px;
}

footer .top-side-footer .left-side {
    width: 100%;
}

footer .top-side-footer .right-side {
    width: auto;
}

footer .bot-side-footer {
    justify-content: flex-start;

}

footer .bot-side-footer p {
    padding-left: 20px;
}

footer {
    .country {
        font-family: OpenSansRegular;
        font-size: 15px;
        color: #fff;
        padding: 0px 0 2px 25px;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 19px;

    }
}

.head-menu .flex-menu .left-side {
    width: auto;
}

.head-menu .flex-menu .right-side {
    width: auto;
}

.head-menu .flex-menu .mid-side {
    flex-shrink: 0;
}

.head-menu .flex-menu .right-side .other-links-wr .login-registr {
    padding: 19px 0;
    display: block;
    font-size: 13px;
    color: #31365E;
    font-family: OpenSansRegular;
    background-repeat: no-repeat;
    background-position: center right;
    transition: 0.3s;
    &:hover {
        color: #F77640;
    }
}

.head-menu .flex-menu .left-side .call {
    display: block;
    font-size: 11px;
    color: #31365E;
    border-radius: 3px;
    border: 1px solid rgba(74, 112, 186, 0.4);
    background: transparent;
    outline: none;
    margin-left: 10px;
    padding: 3px 12px;
    font-family: OpenSansRegular;
}

.head-menu.fixed-menu .flex-menu .left-side {
    width: auto;
    flex-shrink: 0;
}

.head-menu.fixed-menu .flex-menu .mid-side input {
    width: 500px;
}

.head-menu.fixed-menu .flex-menu .right-side {
    width: auto;
}

.head-menu.fixed-menu .flex-menu .left-side .call {
    color: #F77640;
    border: 1px solid #E3E3E3;
}

.head-menu.fixed-menu .flex-menu .mid-side input {
    width: 450px;
}

.fixed-menu {
    .regions {
        box-shadow: none;
        border-bottom: 2px solid #FD966B;
    }
}
.close-x {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #7C7E82;
        transform-origin: center;
        left: 0;
        transform: translateY(-50%) rotate(45deg);
        top: 50%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        background: #7C7E82;
        transform-origin: center;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        top: 0;
    }
}



.regions {
    padding: 16px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 300;
    background: #fff;
    .flex-pick-region {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 51px;
        position: relative;
        .close-region {
            width: 12px;
            height: 12px;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            outline: none;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background: #7C7E82;
                transform-origin: center;
                left: 0;
                transform: translateY(-50%) rotate(45deg);
                top: 50%;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 2px;
                height: 100%;
                background: #7C7E82;
                transform-origin: center;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                top: 0;
            }
        }
        .pick-text {
            margin-bottom: 0;
            font-size: 14px;
            color: #0D0D0D;
            font-family: OpenSansRegular;
        }
        .right-side {
            display: flex;
            .form-pick-region {
                width: 246px;
                margin-right: 12px;
                position: relative;
                &.opened {

                    .picked-country {
                        p {
                            background-image: url(../img/check.svg)!important;

                        }
                    }
                    .dropdown-region {
                        display: block;
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
                    }
                }
                .dropdown-region {
                    position: absolute;
                    top: calc(100% - 1px);
                    left: 0;
                    width: 100%;
                    background: #F4F4F5;
                    border: 1px solid #E3E3E3;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    padding: 6px 9px;
                    display: none;
                    .other-regions {
                        display: block;
                        font-size: 13px;
                        padding-left: 23px;
                        font-family: OpenSansRegular;
                        background-position: center left;
                        background-size: 16px;
                        background-repeat: no-repeat;

                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #0D0D0D;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                    }
                }
                .picked-country {
                    border: 1px solid #E3E3E3;
                    border-radius: 2px;
                    padding: 6px 9px;
                    cursor: pointer;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 3.5px 3px 0 3px;
                        border-color: #7c7e82 transparent transparent transparent;
                        transform: translateY(-50%);
                    }
                    p {
                        font-size: 13px;
                        padding-left: 23px;
                        font-family: OpenSansRegular;
                        background-position: center left;
                        background-size: 16px;
                        background-repeat: no-repeat;
                        padding-right: 22px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #0D0D0D;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }

            }
            .continue {
                font-family: OpenSansSemiBold;
                font-size: 13px;
                padding: 6px 14px;
                color: #fff;
                background: #FC6526;
                border: none;
                border-radius: 2px;
                outline: none;
                display: block;
            }

        }
    }
}
.head-menu.fixed-menu{
    z-index: 1000;
}
.alerts {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    &.add-fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    &.scrolled-alerts{
        top: 53px;
        z-index: 9;
        transition: top 1s;
    }
    .relative-wrapp {
        position: relative;
        width: 320px;
        display: flex;
        padding-right: 20px;
        align-items: center;
        z-index: 20;
        padding: 16px;
        border-radius: 6px;
        .icon {
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            margin-right: 10px;
            background-color: #fff;
        }
        p {
            font-family: OpenSansSemiBold;
            font-size: 13px;
            color: #054C4C;
            margin-bottom: 0;
            padding-right: 15px;
            a,
            span {
                text-decoration: underline;
                font-family: OpenSansBold;
                color: #054C4C;
            }
        }
        .close-alert {
            width: 12px;
            height: 12px;
            display: block;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            outline: none;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background: #054C4C;
                transform-origin: center;
                left: 0;
                transform: translateY(-50%) rotate(45deg);
                top: 50%;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 100%;
                background: #054C4C;
                transform-origin: center;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                top: 0;
            }
        }
    }
    &.alert-green-style {
        .relative-wrapp {
            margin: 0 auto;
            background: #88F4A6;
            .icon {
                background-image: url(../img/ok-status.svg);
            }

        }
    }
    &.alert-red-style {
        .relative-wrapp {
            margin: 0 auto;
            background: #FF7A71;
            .icon {
                background-image: url(../img/Error-alert.svg);
            }
        }
    }
    &.alert-blue-style {
        .relative-wrapp {
            margin: 0 auto;
            background: #9CE1FE;
            .icon {
                background-image: url(../img/blue-alert.svg);
            }
        }
    }
    &.left-position {
        .relative-wrapp {
            margin: 0;
        }
    }
}

.cookies-wrapp{
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    .cookies-contant{
        background: #fff;
        border-top: 1px solid #7C7E82;
        .relative-wr{
            position: relative;
        }
        .m-w-cookes{
            max-width: 635px;
            margin: 0 auto;
            padding: 18px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .policy{
                margin-bottom: 0;
                font-family: OpenSansRegular;
                background-image: url(../img/guard.svg);
                background-repeat: no-repeat;
                background-position: center left;
                padding: 3px 10px 3px 32px;
            }
            .butt-groupe{
                display: flex;
                align-items: center;
                
            }
            .close-cookie{
                position: absolute;
                right: 0;
            }
            .later{
                background: transparent;
                display: block;
                border: 1px solid rgba(124, 126, 130, 0.4);
                outline: none;
                border-radius: 2px;
                color: #1A93C7;
                font-size: 13px;
                padding: 6px 14px;
                font-family: OpenSansRegular;
                margin-right: 16px;
            }
            .read{
                font-family: OpenSansSemiBold;
                font-size: 13px;
                padding: 6px 14px;
                color: #fff;
                background: #FC6526;
                border: none;
                border-radius: 2px;
                outline: none;
                display: block;
            }
        }
    }
    
}
.notifications-wrapp{
    position: relative;
    padding-right: 20px;
    &:hover{
        .dropdown-notifications{
            display: block;
        }
    }
    .icon{
        padding: 19px 0;
        cursor: pointer;
    }
    .dropdown-notifications{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 380px;
        background: #fff;
        border-top: 4px solid #F77640;
        box-shadow: -4px -2px 4px rgba(0, 0, 0, 0.02), 4px 2px 4px rgba(0, 0, 0, 0.12);
        &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: calc(100% + 4px);
            right: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 6px 8px;
            border-color: transparent transparent #f77740 transparent;
        }
        .head-notif{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 12px 9px 12px;
            border-bottom: 1px solid rgba(227, 227, 227, 0.6);
            p{
                font-size: 13px;
                font-family: OpenSansBold;
                color: #0D0D0D;
                margin: 0;
            }
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                li{
                    padding: 0 5px;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        background: #ABACB0;
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        right: 0;
                        top: 50%;
                        margin-top: -1px;
                        margin-right: -1px;
                    }
                    &:last-child{
                        padding-right: 0;
                        &:after{
                            display: none;
                        }
                        
                    }
                }
                a,span{
                    display: block;
                    color: #F77640;
                    font-size: 11px;
                    font-family: OpenSansRegular;
                    cursor: pointer;
                }
            }
        }
        .body-notif{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                align-items: flex-start;
                padding: 12px 16px;
                border-bottom: 1px solid rgba(227, 227, 227, 0.6);
                .left-icon{
                    flex-shrink: 0;
                    width: 24px;
                    span{
                        font-family: OpenSansRegular;
                        font-size: 13px;
                          color: #0D0D0D;
                    }
                }
                .notif-text{
                    width: 100%;
                    padding-left: 12px;
                    a,span{
                       font-size: 13px;
                        display: block;
                        font-family: OpenSansRegular;
                        color: #0D0D0D;
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    p{
                        color: #ABACB0;
                        font-size: 11px;
                        font-family: OpenSansRegular;
                    }
                }
            }
            
        }
        .look-more{
            a{
                display: block;
                text-align: center;
                padding: 12px 16px;
                color: #F77640;
                font-size: 13px;
            }
        }
    }
}
.sec-regions{
    padding-top: 57px;
    h1{
        font-weight: normal;
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 32px;
        font-family: OpenSansBold;
    }
    h3{
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 12px;
        margin: 0;
        margin-bottom: 16px;
        border-bottom: 1px solid #E3E3E3;
    }
    .flex-flags{
        margin: 0;
        padding: 0;
        margin-bottom: 72px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        list-style: none;
        &:last-child{
            margin-bottom: 20px;
        }
        li{
            width: 16.66%;
            margin-bottom: 25px;
            padding-right: 10px;
            a,span{
                cursor: pointer;
                display: block;
                font-size: 16px;
                font-family: OpenSansRegular;
                color: #0D0D0D;
                padding: 2px 0 2px 50px;
                background-repeat: no-repeat;
                background-position: center left;
                background-size: 40px;
                
            }
        }
    }
}
.head-menu .flex-menu{
    position: relative;
}