@import "../variables";

.custom-select {

  &__wrap {
    position: relative;
    margin-bottom: 8px;
  }

  &__add {
    font-size: 13px;
    line-height: 18px;
    color: $brand-orange;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: $brand-gray-hover;
      position: absolute;
      top: 2px;
      left: 0;
    }

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background: url('#{$assets-path}/img/icon-add-select.svg') no-repeat center center;
      position: absolute;
      top: 2px;
      left: 0;
    }

    &:hover {
      &:before {
        background-color: $brand-orange;
      }
    }
  }
}

.select2 .select2-container .select2-container--bootstrap {
  .select2-selection__rendered {
    color: $brand-icon-default;
  }
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url('#{$assets-path}/img/remove-select.svg') no-repeat center center $brand-white;
  cursor: pointer;
  font-size: 0;
  z-index: 5;
}

.select2-container .select2-selection__arrow b {
  border-color: $brand-gray-hover transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  right: 11px;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
