@import "../variables";

.catalog-filters {

  &__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  &__panel {
    margin-bottom: 32px;

    &--bordered {
      border-bottom: 1px solid $brand-gray;
      padding-bottom: 45px;
      margin-bottom: 0;
      margin-left: -32px;
      padding-left: 32px;
    }
  }

  &__container {
    margin-top: 5px;

    &.collapse[aria-expanded="false"] {
      height: 160px !important;
      display: block;
      overflow: hidden;
      margin-left: -32px;
      padding-left: 32px;
    }

    &.collapsing[aria-expanded="false"] {
      height: 160px !important;
    }
  }

  &__show {
    color: $brand-orange;
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    padding-left: 32px;
    position: relative;
    margin-top: 7px;

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      background: $brand-orange;
      border-radius: 2px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 3px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $brand-white;
      z-index: 2;
      transform: rotateZ(0deg);
    }

    &.collapsed {
      &:after {
        position: absolute;
        top: 7px;
        left: 3px;
        transform: rotateZ(180deg);
      }
    }
  }
}

.catalog-filter {
  color: $brand-black;
  font-family: $OPS-R, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
  display: block;
  cursor: pointer;
  margin-left: -32px;
  padding-left: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 200%;

  &__name {
    position: relative;
    padding-left: 32px;
    font-family: $OPS-R, sans-serif;
    font-weight: 400;


    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $brand-gray;
      border-radius: 2px;
    }

    &:after {
      content: none;
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      background: url('#{$assets-path}/img/filter-checked.svg') center no-repeat;
      background-size: cover;
      z-index: 2;
      border-radius: 2px;
    }
  }

  input:checked + .catalog-filter__name {

    &:after {
      content: '';
    }
  }

  &:hover {
    background: $brand-white-active;
  }

  &:active {
    background: $brand-gray-hover;
  }
}

.show-filter-xs {
  display: none;
}
