@import "../variables";

.cookies {
  background: $brand-white;
  box-shadow: 0px -2px 5px rgba(35, 35, 35, 0.05);
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  padding: 18px 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;

  @media #{$xs} {
    padding: 13px 1px;
  }

  &__flex {
    display: flex;
    align-items: center;

    @media #{$xs} {
      flex-direction: column;
    }
  }

  &__text {
    color: $redesign-index-black;
    font-size: 14px;
    font-family: $GothPro;
    line-height: 17px;
    margin: 0;

    @media #{$sm} {
      font-size: 12px;
      line-height: 15px;
    }

    @media #{$xs} {
      order: 1;
      font-size: 14px;
      line-height: 17px;
      margin: 15px 0;
    }
  }

  &__link {
    color: $redesign-index-orange;

    &:hover {
      color: $redesign-index-blue;
    }
  }

  &__button {
    margin-left: auto;
    width: 100px;
    height: 50px;

    @media #{$sm} {
      width: 80px;
      height: 40px;
    }

    @media #{$xs} {
      order: 2;
      width: 100px;
      height: 50px;
      margin: 0 auto;
    }
  }

  &__close {
    margin-left: 35px;
    cursor: pointer;

    @media #{$sm} {
      margin-left: 20px;
    }

    @media #{$xs} {
      order: 0;
      margin-left: auto;

      svg {
        width: 10px;
      }
    }

    &:hover {
      .cookies__x {
        fill: $redesign-index-orange;
      }
    }
  }

  &__x {
    fill: $redesign-index-black;
    transition: 0.3s;
  }
}