@import "../variables";

.shrimp {
  background: $brand-white;
  margin-top: 72px;
  padding: 7px 0;

  &__flex {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 35%;
    flex-grow: 0;
  }

  &__text {
    width: 65%;
    padding-left: 100px;
  }

  &__title {
    font-family: $GothProB;
    font-size: 50px;
    line-height: 62px;
    color: $redesign-index-black;
    margin: 0;
  }

  &__description {
    font-family: $GothProL;
    font-size: 24px;
    line-height: 30px;
    margin: 45px 0;
    color: $redesign-index-black;
  }
}